.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #71aa5f;
  padding: 8px 16px;
  border-radius: 50px;
  color: snow;
  font-family: $font-style-secondary;
  font-weight: bold;
  margin: 0px 10px;
}
