// Colors
$color-teal: #5fa5aa;
$color-sky: #e8f7f8;
$color-blue: #0a4459;
$color-black: #000;
$color-offblack: #222;
$color-grey: #5a606c;
$color-lightgrey: #d6d7da;
$color-greyblue: #eceef2;

// Font Styles
$font-style-primary: "Spartan", sans-serif;
$font-style-secondary: "Hind Madurai", sans-serif;

// Font Sizes
$font-mini: 0.5rem; //8px
$font-xs: 0.75rem; //12px
$font-sm: 1rem; //16px
$font-sm_med: 1.125rem; // 18px
$font-med: 1.25rem; //20px
$font-lg: 1.5rem; //24px
$font-xl: 2rem; //32px
$font-xxl: 2.5rem; //40px

// Paddings
$desktop-padding: 3.25rem; //52px
$mobile-padding: 1.5rem; //24px

// ScreenWidth
$wide-screen: 90rem; //1440px

// Heights
$footer-height: 30rem; //336px

//Table
$color-table-alt-row:#EFF6F7; 
